@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900&family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root{
    --color-primary: #7380ec;
    --color-danger: #ff7782;
    --color-success: #41f1b6;
    --color-warning: #ffbb55;
    --color-white: #fff;
    --color-info: #7d8da1;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-dark-varient: #677483;
    --color-background: #f6f6f9;
    
    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 1.2rem;

    --card-padding: 1.8rem;
    --box-shadow: 0 2rem 2rem var(--color-light);
    
    --heading1: rgb(0, 0, 0);
    --heading2: rgb(51,51,51);
    --text: #333;
    --ltext: rgb(240,240,240);
    --color1: rgb(117,45,46);
}

.dark-theme{
    --color-background: #181a1e;
    --color-white: #202528;
    --color-dark: #edeffd;
    --color-dark-varient: #a3bdcc;
    --color-light: rgba(0,0,0,0.4);
    --box-shadow: 0 2rem 3rem var(--color-light)
}

*{
    margin:0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    font-size: 14px;
}

body{
    font-family: 'Poppins', sans-serif;
    font-size: .88rem;
    background: var(--color-background);
    overflow-x: hidden;
    color: var(--color-dark);
}

h1{
    font-weight: 800;
    font-size: 1.8rem;
}

h2{font-size: 1.4rem;}
h3{font-size: .87rem;}
h4{font-size: .8rem;}
h5{font-size: .77rem;}
small{font-size: .75rem;}

.wrapper{
    padding: 0;
    margin: 0;
    width: 100%;
    overflow-x: hidden;
}

.container{
    margin: 2rem;
    background-color: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    box-shadow: var(--box-shadow);
    overflow-x: hidden;
}
.container h2{
    text-align: center;
}

:root {
    --square-size: 15px;
    --square-gap: 5px;
    --week-width: calc(var(--square-size) + var(--square-gap));
  }
  
  .months { grid-area: months; }
  .days { grid-area: days; }
  .squares { grid-area: squares; }

  .graph {
    display: inline-grid;
    grid-template-areas: "empty months"
                         "days squares";
    grid-template-columns: auto 1fr;
    grid-gap: 10px;
  }
  
  .months {
    display: grid;
    grid-template-columns: calc(var(--week-width) * 4) /* Jan */
                           calc(var(--week-width) * 4) /* Feb */
                           calc(var(--week-width) * 4) /* Mar */
                           calc(var(--week-width) * 5) /* Apr */
                           calc(var(--week-width) * 4) /* May */
                           calc(var(--week-width) * 4) /* Jun */
                           calc(var(--week-width) * 5) /* Jul */
                           calc(var(--week-width) * 4) /* Aug */
                           calc(var(--week-width) * 4) /* Sep */
                           calc(var(--week-width) * 5) /* Oct */
                           calc(var(--week-width) * 4) /* Nov */
                           calc(var(--week-width) * 5) /* Dec */;
  }
  
  .days,
  .squares {
    display: grid;
    grid-gap: var(--square-gap);
    grid-template-rows: repeat(7, var(--square-size));
  }
  
  .squares {
    grid-auto-flow: column;
    grid-auto-columns: var(--square-size);
  }
  
  
  /* Other styling */
  
  body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 12px;
  }
  
  .graph {
    padding: 20px;
    border: 1px #e1e4e8 solid;
    margin: 20px;
  }
  
  .days li:nth-child(odd) {
    visibility: hidden;
  }
